*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
  body{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    background-image: url(bg-pink2.png) ;
    background-position: top;
    background-size: contain;
    background-repeat:no-repeat ;
    background-color: #FF0275;
    
  }
  .bonbons img {
    position: absolute;
    transform: translate(-50%);
    top: 130px;
    left: 50%;
    
  }
 
  .header{
    width: 100%;
    display: flex;
    align-items: center;
  &__logo img{
    width: 314px;
    height: 41.6px;
  }  
  &__nav{
    margin-left: 50px;
    &__list{
        text-decoration: none;
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 50px;
        align-items: center;
      }
      &__item {
        &--active{
            border: 10px solid #FF0567;
            border-radius: 10px;
            background-color: #FF0567;
            &:hover{
                background-color: transparent;
                color: #FF0567;
                border: 2px solid #fff;
                padding: 8px;
            }
        }
      }
      &__item  a{
        text-decoration: none;
        list-style: none;
        font-family: Londrina Solid;
        font-size: 20px;
        font-weight: 400;
        line-height: 23.66px;
        text-align: left;
        color: #fff;
    
    &:hover{
      color: #FF0567;
    
    }
    
      }
  }
  
  &__user{
    width: 200px;
    height: 60px;
    margin-left: 800px;
    display: flex;
    align-items: center;
    gap: 13px;
    box-sizing: border-box;
    &__avatar {
        
        & img{
        width: 50px;
        height: 50px;
        border-radius: 100px;
      }
    } 
      &__pseudo{
        display: flex;
        align-items: center;
        gap: 14px;
        color: #fff;
        border-bottom: 3px solid #fff;
        &__text{
            font-family: Londrina Solid;
            font-size: 20px;
            font-weight: 400;
            line-height: 23.66px;
            text-align: right;
        
          }
      }
  }
  
 
  
  }
  .profil-header-container{
    display: flex;
    justify-content: center;
  }
  
  .content-profil-page-container{
    display: flex;
    justify-content: center;
  }
  .left-side-profil-page{
    width: 400px;
    height: 512px;
    position: absolute;
    margin-left: 15px;
    margin-top: 56px;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 700;
    line-height: 16.34px;
    text-align: left;

  }
  .content-profil-page{
    width: 960px;
    margin-top: 14px;
    box-sizing: border-box;
   

  }